# server
/packages/server/database
/packages/server/sourceCode
/packages/server/contentHash
/packages/server/logs

# dependencies
node_modules

# testing
coverage

# production
dist
build
out

# debug
.pnpm-debug.log*

# misc
.DS_Store
*.pem

# local env files
.env*.local