.item-wrapper {
  display: flex;
  align-items: center;

  .icon {
    .country-flag-icons {
      display: block;
      width: 27px;
      height: 18px;
      margin-right: 5px;
    }
  }

  .text {
    margin-left: 8px;
  }
}

.icon-btn-wrapper {
  width: 70px;
  height: 64px;
  color: $mango-primary-color;
  font-size: 26px;
  cursor: pointer;

  @include mango-center;

  &:hover {
    background-color: rgb(0 0 0 / 6%);
  }
}
