.user-container {
  width: 80px;
  height: 64px;
  color: $mango-primary-color;
  cursor: pointer;

  @include mango-center;

  .user-avatar {
    background-color: $mango-primary-color;
  }

  &:hover {
    background-color: rgb(0 0 0 / 6%);
  }
}

.popover-container {
  .card-container {
    width: 400px;

    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 24px 24px 24px 35px;

      .user-info {
        display: flex;
        align-items: center;

        .phone {
          margin-left: 10px;
        }
      }
    }

    .card-content {
      padding-bottom: 20px;

      .action-item {
        flex-direction: column;
        height: 80px;
        cursor: pointer;

        @include mango-center;

        .action-icon {
          font-size: 24px;
        }

        &:hover {
          color: $mango-primary-color;

          // background-color: rgb(0 0 0 / 6%);
        }
      }
    }
  }

  :global {
    .ant-popover-inner {
      padding: 0;
    }
  }
}
