.layout-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f8fafd;

  .layout-header {
    @include mango-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 64px;
    padding: 0 48px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e6;

    .logo-wrapper {
      display: block;
      display: flex;
      align-items: center;

      .logo {
        display: block;
        width: 200px;
        height: 30px;
        margin-right: 16px;
      }

      .text {
        color: $mango-primary-color;
        font-weight: bold;
        font-size: 20px;
      }
    }

    .select-lang-wrapper {
      :global(.ant-dropdown-trigger) {
        margin-right: 24px;
      }
    }
  }

  .layout-wrapper {
    @include mango-center;

    width: 100%;
    height: 100%;

    .layout-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      height: 600px;

      .title {
        font-weight: bold;
        font-size: 33px;
      }
    }
  }

  .layout-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: rgb(0 0 0 / 45%);
    font-size: 12px;

    @include mango-center;
  }
}
