.page-container {
  @include mango-page-container;

  .card {
    margin-bottom: 20px;

    .card-title {
      display: flex;
      align-items: center;

      .card-title-text {
        margin-right: 10px;
      }
    }
  }
}
