.wrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;

  .content {
    padding: 20px 20px 0;
    border: 1px solid #ccc;
  }

  .title {
    position: absolute;
    top: 8px;
    left: 20px;
    z-index: 5;
    padding: 0 5px;
    font-size: 12px;
    background-color: #fff;
  }
}
