.layout-container {
  width: 100vw;
  height: 100vh;

  .layout-header {
    @include mango-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 64px;
    padding: 0 28px;
    background-color: #fff;

    .logo-wrapper {
      display: block;
      cursor: pointer;

      .logo {
        display: block;
        width: 125px;
        height: 35px;
      }
    }

    .control-wrapper {
      display: flex;
      align-items: center;
    }
  }

  .layout-main {
    flex: auto;
    margin-top: 64px;

    .layout-sider {
      background: #fff !important;
      border-radius: 6px;
      box-shadow: 10px 10px 20px rgb(110 158 255 / 8%);

      :global {
        .ant-layout-sider-children {
          overflow-y: auto;
        }
      }

      .sider-collapse {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        background-color: #fff;
        border-top: 1px solid #ddd;
      }
    }

    .layout-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 64px);
      padding: 0 16px;
      overflow-y: auto;

      .layout-content {
        flex: 1;
        width: 100%;
      }

      .layout-footer {
        width: 100%;
        height: 40px;
        padding: 8px 0;
        color: #999;
        font-size: 12px;
        line-height: 2;
        text-align: center;
        border-radius: 6px;

        .info {
          @include mango-center;

          a {
            @include mango-normal-link;
          }
        }

        .title {
          text-align: center;
        }
      }
    }
  }
}
