/* stylelint-disable */
@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container {
    @apply flex min-h-full w-full flex-col rounded-md;
  }
}

#root,
.ant-app {
  height: 100vh;
}

.ant-modal-header {
  margin-bottom: 20px !important;
  padding-bottom: 20px !important;
  border-bottom: 1px solid #eee;

  .ant-modal-title {
    padding-right: 40px;
  }
}

.ant-modal-confirm-content {
  max-width: 100% !important;
}

.ant-layout-sider-children {
  overflow-y: auto !important;
}

// 滚动条样式
* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  text-size-adjust: 100%;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #999;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
    transition: background-color 0.2s;
  }
}
